.product {
    display: flex;
    flex-direction: column;
  
    padding: 15px;
    width: 170px;

}
.img {
    width: 100%;
   background:white ;
   height: 100px;
  
}
.description {
    font-size: 0.7em;
    color:rgb(172, 0, 0)
}
.add-btn {
    width: 150px;
    height: 50px;
    background-color: rgba(0, 68, 255, 0.541);
}
.description{
    width: 300px;
}
.title{
    width: 300px;
    color:rgba(7, 67, 75, 0.705)
}
.product{
    background-color: rgb(121, 8, 8);
}
